- var pageTitle = 'Toast Grids ToGo'
- var name = 'Jordan'
- var fruitBowl = ['banana', 'apple', 'mango']
- var wloop = 1

doctype
html(lang="en")
    // This comment will appear in compiled HTML.
    //- This comment will not appear in compiled HTML.
    head
        title #{pageTitle}
        link(rel="stylesheet",href="css/app.css")

    body
        //- Class names imply a div element at compile.
        .container
            .row
                //- "block" specifies an area that can be edited when the .pug is called in another file with "extends".
                .column#header(data-name="box", custom-attr="whatevs" )
                    block header
                        h2 Hello #{name}!
                        ul
                            while wloop <= 9
                                li Testing, #{wloop++}, #{wloop++}, #{wloop++}

        .container
            .row
                .column#main
                    block main
                        h1 Testing Iteration
                        ul
                            each fruit, i in fruitBowl
                                li Fruit #{i + 1}: #{fruit}
        
